.project {
  background-color: var(--background-sub-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;
}
