.skills {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  // Ne faire l'animation que lorsque l'on hover les svg ?
  svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    animation: spin 3s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
