.skills {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  h2 {
    color: white;
    margin-bottom: 20px;
    font-size: clamp(20px, calc(1.5vh + 0.5rem), 30px);
    text-decoration: underline;
  }

  svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    &:hover {
      transform: scale(1.2);
      transition-duration: 1s;
    }
  }
}
