.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0;
  margin: 0 0 0 10vw;
  background-color: var(--background-body);
  transition: all 1s ease;
}

.projects {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  h2 {
    color: white;
    margin-bottom: 20px;
    font-size: clamp(20px, calc(1.5vh + 0.5rem), 30px);
    text-decoration: underline;
  }
}
