.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 0;
  left: 10vw;
  margin: 0;
  background-color: var(--background-body);
  transition: all 1s ease;
}
