.about {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.about-text {
  margin-left: 20px;
  color: var(--text-color);
  max-width: 600px;

  & h1 {
    font-size: 2.5rem;
  }

  & p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}
