.about {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  & img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
