.about {
  background-color: var(--background-block);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 20px;

  & img {
    border-radius: 50%;
    width: clamp(100px, 10vw, 15vw);
    height: clamp(100px, 10vw, 15vw);
    object-fit: cover;
  }

  &-text {
    color: white;
    width: 80%;

    & h1 {
      font-size: clamp(25px, calc(3vh + 0.1rem), 50px);
    }

    & p {
      font-size: clamp(16px, calc(1vh + 0.5rem), 25px);
      line-height: 1.5;
    }
  }
}
