.navbar {
  margin: 0;
  padding: 0;
  width: 130px;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--background-nav);
  transition: all 1s ease;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;

  &-icon {
    color: var(--text-color);
  }
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

li a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}
