.navbar {
  margin: 0;
  padding: 0;
  width: 10vw;
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--background-nav);
  transition: all 1s ease;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4vw 0;

  &-icon {
    color: var(--text-color);
    font-size: 1vw;
  }
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 4vw;
}

li a {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-size: calc(0.5vw + 0.5em);
  width: calc(10vw - 20px);
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  transition: all 1s ease;

  &:hover {
    background-color: var(--text-color);
    color: var(--background-nav);
  }
}

.nav-icon {
  margin-right: 8px;
  font-size: 1vw;
}
