button {
  background-color: var(--background-nav);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  width: 40px;
  height: 20px;
}

.button-fr {
  border-radius: 5px 0 0 5px;
  transition: all 1s ease;

  &.active {
    background-color: var(--text-color);
    color: var(--background-nav);
  }
}

.button-en {
  border-radius: 0 5px 5px 0;
  transition: all 1s ease;

  &.active {
    background-color: var(--text-color);
    color: var(--background-nav);
  }
}
