footer {
  background-color: var(--background-nav);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 20px;

  p {
    color: var(--text-color);
    font-size: clamp(12px, 1.5vw, 16px);
    margin: 5px;
  }
}
