:root {
  --background-nav: black;
  --background-body: #222222;
  --background-block: oklch(from var(--background-body) calc(l * 1.2) c h);
  --background-sub-block: oklch(from var(--background-body) calc(l * 1.4) c h);
  --text-color: white;
}

[data-theme="light"] {
  --background-nav: white;
  --background-body: #b3b3b3;
  --background-block: oklch(from var(--background-body) calc(l * 0.8) c h);
  --background-sub-block: oklch(from var(--background-body) calc(l * 0.6) c h);
  --text-color: black;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  color: var(--text-color);
}
